* { 
all: unset; 
}


/** tooltips **/
tooltip.background {
    background-color: #161819;
    border-radius: 10px;
    font-size: 15;
    color: #DED4BF;
}

tooltip label {
    margin: 6px;
}

/** image icon **/
.icon-menu {
   margin: 5 0 7 5;
   padding: 0 3 0 3;
   border-radius: 8 8 8 0;
}

.icon-menu:hover {
   background-color: #232425;
}
/** separator **/
.separ {
	font-size: 14;
   padding: 0 5 0 4;
	color: #232526;
}

/** bar **/
.bar {
	background-color: #161819;
	color: #DED4BF;
}

/** workspaces **/
.workspaces {
	margin: 4 0 4 0;
   //padding: 0 6 0 6;
   border-radius: 8px;
	// background-color: #1E1F20;
}

.workspace-entry {
   padding: 3;
   color: #dcd1bb;
	font-family: "icomoon";
}

.workspace-entry.empty label {
	color: #3A3936;
	//color: #232526;
   font-size: 10;
}

.workspace-entry.occupied label {
   font-size: 12;
}

.workspace-entry.current label {
	color: #A7C080;
   font-size: 14;
}

// Middle widgets
.clock {
   font-family: "Ubuntu Nerd Font";
	background-color: #1E1F20;
   font-size: 14;
	font-weight: bold; 
	margin: 4 0 4 0;
	padding: 0 10 0 10;
	border-radius: 7px;

   // background-color: #202223;
}

.clock:hover {
	font-size: 14;
	font-weight: bold; 
	margin: 3 0 3 0;
	padding: 0 10 0 10;
	border-radius: 7px;
	background-color: #444;
	color: #e3e3e3;
}

// Right widgets
.palette {
	font-size: 15;
   padding: 0 5 0 5;
}

.palette:hover {
	background-color: #444;
}

.screenshot {
	font-size: 15;
   padding: 0 5 0 5;
}

.screenshot:hover {
	background-color: #444;
}

.rightwidgets slider {
  all: unset;
  color: #DED4BF;
}

.basic_tray{
	background-color: #1E1F20;
	margin: 4 0 4 0;
	border-radius: 7px;

}

.module-wifi {
	font-size: 15;
   padding: 0 3 0 7;
}

.module-wifi:hover {
	background-color: #444;
	border-radius: 8px;
}

scale trough {
  all: unset;
  background-color: #595750;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 5px 0px 5px;
}

.volbar trough highlight {
  background-image: linear-gradient(to right, #A7C080 30%, #C7DAA9 70%, #CEE0B3 100% *50);
  border-radius: 10px;
}

.volume_icon{
	font-size: 17;
	color: #DED4BF;
   padding: 0 3 0 5;
}

.volume_icon:hover{
	background-color: #444;
}

.microphone_icon{
   font-size: 17;
	color: #DED4BF;
	padding: 0 5 0 5;
}

.microphone_icon.mute{
	color: #616161
}

.keyboard-icon{
   font-size: 17;
	margin-bottom: 0;
   padding: 0 7 0 5;
}

.keyboard-icon.us {
	color: #444;
}

.keyboard-lang{
	font-size: 13;
   font-weight: bold;
	padding-left: 6;
}

.powermenu{
	all: unset;
	font-size: 16;
	font-weight: bold;
}

.button-reb{
	padding: 0 8 0 4;
	color: #83C092;
}

.button-quit{
	padding: 0 4 0 4;
	color: #E69875;
}

.button-lock{
	padding: 0 4 0 4;
	color: #DBBC7F;
}

.button-off{
	color: #E67E80;
	padding: 0 8 0 4;
	font-size: 17;
	// background-color: #202223;
	margin:2 4 2 0;
	border-radius: 8px;
}

.button-off:hover{
	color: #CC241D;
}

